/* Universal style */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #212121;
  color: #fff;
}
.flex li {
  display: inline-block;
  text-decoration: none;
}
.flex {
  display: flex;
  align-items: center;
}
